<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>PracticaAndy</title>
    </head>
    <body>
         <header th:replace="~{layout/plantilla :: header}"/>

    <section id="Iframe" style="text-align: center;">
        <h2>¡Bienvenido a nuestra biblioteca!</h2>
        <iframe width="626" height="360" src="https://www.youtube.com/embed/mByvIG73WXU" title="BIBLIOTECA CARMEN LYRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h5>¡En esta página podrás realizar préstamos y devoluciones de libros!</h5>
    </section>

         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>